/* CSS declarations go here */


body {
  font-family: 'Poppins', sans-serif !important;
/*  background-color: #1a4e90;*/
    /*  background-color: #153e72;*/
  background-image: linear-gradient(to bottom, #153e72, #000 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

/*
.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}
*/

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

/*
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
*/

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

/*
ul {
  margin: 0;
  padding: 0;
  background: white;
}
*/

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

/*
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}
*/

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

.active {  
    font-weight: bold;  
    background-color: #980000;
    color: #fff;
    padding: 5px;
}

.titleV{
    padding: 10px;
    background-color: #fff;
}

/*
.navBar{
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    background-color: #fff;
    border-bottom: solid 1px #00489b;
}
*/
.navBar h1{
    color: #fff;
    margin: 0px;
    padding: 10px 25px 7px 25px;
    background-color: #333333;
    background-color: #153e72;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.navBar li {
    float: left;
    border-right: 1px solid #000000;
}

.navBar li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}

.navBar li a:hover:not(.active) {
    background-color: #153e72;
    color: #fff;
}

.navBar .active {
    background-color: #153e72;
    color: #fff;
}

/*
.navBar ul{
    float: right;
    list-style-type: none;
}
.navBar ul li{
    width: 100px;

}
*/
/** add :empty to the loader's selectors **/
/*
.containerPar{
    height: 600px;
}
*/

.containerPar h1{
    background-color: #222222;
    color: #fff;
/*    margin-left: 50px;*/
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.postCont p{
    color: #000;
    font-size: 19px;
/*
    background-color: #fff;
    padding: 20px;
*/
}

.postText {
    background-color: #fff;
    padding: 20px;
}
.postTextSpec {
    background-color: #fff;
    padding: 15px;
    padding-left: 0px;
    padding-bottom: 8px;
}

.postTextSpec ul li{
    font-size: 15px;
}

.postTitle h1{
    background-color: #000;
    color: #fff;
}

.parIn{
    height: 15vh;
}

.loadingTitle{
    color: #fff;
    text-align: center;
    font-size: 55px;
    width: 100%;
/*    margin-left: 40px;*/
}

.loadingTitle h1{
    font-size: 65px;
/*    margin-left: 40px;*/
}

.loaderBack{
    background-color: #000;
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
}

.loader:empty,
.loader:empty:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader:empty {
  margin: 60px auto;
  margin-top: 0;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example2-leave {
  opacity: 1;
}

.example2-leave.example2-leave-active {
  opacity: 0.01;
  transition: opacity 2.5s ease-in;
}


.circle-container {
  width: 400px;
  height: 200px;
/*   background: red; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle-container:after{
  content: '';
  width: 20px;
  height: 5px;
  position: absolute;
  background: #000;
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  opacity: 0.7;
  filter: blur(1px);
  animation: shadow 2s linear infinite;
}
.circle-container:nth-child(2):after {
  animation-delay: -.3s;
}
.circle-container:nth-child(3):after {
  animation-delay: -.6s;
}
.circle{
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  animation: anim 2s linear infinite;
}
.circle-container:nth-child(2) .circle{
/*   display: none; */
  animation-delay: -.3s;
}
.circle-container:nth-child(3) .circle{
/*   display: none; */
  animation-delay: -.6s;
}
@keyframes anim {
  0%{
    transform-origin: 400% 50%;
    transform: rotate(0);
  }
  50%{
    transform-origin: 400% 50%;
    transform: rotate(360deg);
  }
  50.1%{
    transform-origin: -300% 50%;
    transfom: rotate(0deg);
  }
  100%{
    transform-origin: -300% 50%;
    transfotm: rotate(-360deg);
  }
}

@keyframes shadow {
  0%{}
  12.5%{
    transform: translate(50px) scale(0.6);
  }
  25%{
    transform: translate(110px);
  }
  37.5%{
    transform: translate(50px) scale(1.4);
  }
  50%{
    transform: translate(0px);
  }
  62.5%{
    transform: translate(-50px) scale(0.6);
  }
  75%{
    transform: translate(-110px);
  }
  87.5{
    transform: translate(-50px) scale(1.4);
  }
  100%{
    transform: translate(0px);
  }
}

/*

PULSE START

*/

.pulse {
  height: 100px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.pulse:after {
  content: '';
  display: block;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200px 100px" enable-background="new 0 0 200px 100px" xml:space="preserve"><polyline fill="none" stroke-width="3px" stroke="white" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation: 2s pulse linear infinite;
  -moz-animation: 2s pulse linear infinite;
  -o-animation: 2s pulse linear infinite;
  animation: 2s pulse linear infinite;
    clip: rect(0, 0, 100px, 0);
}
.pulse:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 2px;
  right: 2px;
  bottom: 0;
  top: 16px;
  margin: auto;
  height: 3px;

}


@-webkit-keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
    opacity: 0.4;
  }
  4% {
    clip: rect(0, 66.66667px, 100px, 0);
    opacity: 0.6;
  }
  15% {
    clip: rect(0, 133.33333px, 100px, 0);
    opacity: 0.8;
  }
  20% {
    clip: rect(0, 300px, 100px, 0);
     opacity: 1;
  }

  80% {
    clip: rect(0, 300px, 100px, 0);
     opacity:0;
  }

  90% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0;
  }

  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity:0;
 }
}
@keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
  }
  4% {
    clip: rect(0, 66.66667px, 100px, 0);
  }
  15% {
    clip: rect(0, 133.33333px, 100px, 0);
  }
  20% {
    clip: rect(0, 300px, 100px, 0);
     opacity:1;
  }

  80% {
    clip: rect(0, 300px, 100px, 0);
     opacity:0;
  }

  90% {
    opacity: 0;
  }

  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity:0;
 }
  
}


/*

PULSE END

*/


.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
/*  margin: 1rem;*/
    margin-top: 20px;
    margin-bottom: 10px;
  position: relative;
  width: 100%;
  border-left: 3px solid #ffffff;
}

/*
.card img{
    width:100%;
     height: 300px; 
    object-fit:cover;
}
*/

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-3:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.newsIMG {
    position:relative;
    width:100%;
    height:300px;
    
}

.newsIMG .extra{
   
    display: block;
    overflow: hidden;
    opacity: 0;
    position:absolute;
    bottom: 0px;
    height: 0px;
    width: 100%;
    z-index: 100;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
/*    padding-top: 250px;*/
    color: #fff;
            transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.newsIMG:hover .extra{
    display:block;
    position:absolute;
    bottom: 25px;
    height: 100px;
    width: 100%;
    z-index: 100;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    opacity: 1;
/*    padding-top: 250px;*/
    color: #fff;
            transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.newsIMG:hover h4{
    display:block;
    position:absolute;
    bottom: 120px;
    height: 20px;
    width: 100%;
    z-index: 100;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
/*    padding-top: 250px;*/
    color: #fff;
        transition: all 0.5s;
    -webkit-transition: all 0.5s;
    animation-direction: reverse
}



.newsIMG h4{
    position:absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    z-index: 100;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
/*    padding-top: 250px;*/
    color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.newsIMG h3{
    position:absolute;
    top: 20px;
    right: 0;
    height: 10px;
    width: 150px;
    z-index: 100;
    padding-left: 10px;
    padding-bottom: 55px;
    padding-top: 5px;
    color: #000;
    background-color: #fff;
/*
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
*/
}

.newsIMG img {
    width:100%;
    vertical-align:top;
     height: 100%; 
    object-fit:cover;

/*    border: 2px solid #000;*/
}

.newsIMG:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(191,191,191,0) 75%, rgba(255,255,255,0) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(191,191,191,0)), color-stop(100%, rgba(0,0,0,0.8))); /* safari4+,chrome */
background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(191,191,191,0) 75%, rgba(255,255,255,0) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(191,191,191,0) 75%, rgba(255,255,255,0) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(191,191,191,0) 75%, rgba(255,255,255,0) 100%); /* ie10+ */
background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(191,191,191,0) 75%, rgba(255,255,255,0) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* ie6-9 */
/*    opacity:0;*/
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.newsIMG:hover:after {
    background-color: rgba(0, 0, 0, 0.7);
}



@media (max-width: 600px) {
/*
  li {
    padding: 12px 15px;
  }
*/

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}